/* reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*----------------*/

@font-face {
  font-family: 'OpenSans-Medium';
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'OpenSans-Medium', sans-serif;
}
main {
  flex: 1 0 auto;
}
.container {
  width: 720px;
  margin: 0 auto;
}
.logo {
  img {
    display: block;
    height: 100px;
  }
}
.content {
  padding: 10px 20px;
}
header .container {
  display: flex;
}
#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  li {
    padding: 10px;
    border: 1px solid red;
  }
}
footer {
  flex: 0 0 200px;
  background-color: black;
  color: #fff;
  padding: 30px;
}
.content p {
  padding: 10px;
}
.content > div {
  border: 1px solid green;
}
body > main > div > div > div:nth-child(3) > p:nth-child(1) {
  color: blue;
}
[class~='go'] {
  border: 3px solid black;
}
img:not(.logo img) {
  width: 200px;
  border: 2px dashed blue;
}
body > *:not(header) {
  border: 2px dotted green;
}
.btn {
  width: 200px;
  height: 50px;
  background-color: tomato;
  @extend %center;
}
.onmouse {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: tomato;
  @extend %center;
  border-radius: 50%;
}
.border {
  border: 2px solid red;
  background-color: black;
  color: #fff;
  transition: 0.5s;
}
.over {
  border: 1px solid green;
  background-color: black;
  transition: 0.9s;
}
.over-a {
  color: #fff;
  transition: 0.9s;
}
.arrowDown {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  font-size: 30px;
  @extend %center;
}
